Se plantea realizar una interpolación para determinar las dimensiones (L1, L2 y L3) de un mecanismo para un segmento rectilineo de 20 cm, con un rango aungular de 30 y 55 grados de giro de la manivela. 

Construir un paso a paso es esencial  para el desarrollo del problema, así que se hará de la siguiente forma: 
1. Construir la tabla de datos en excel y cargarla a python.
2. Identificar las librerias a utilizar.
3. Explicar la nomenclaruta utilizada para subir la tabla.
4. Aplicar al menos dos metodos de interpolacion acorde con los datos. 
5. Evaluar  el rendimiento de cada uno de los metodos de interpolación.
6. Realizar comparacion entre los diferentes metodos de  interpolación.
7. Generar conclusiones.

In [1]:
import pandas as pd
archivo_excel = 'C:/Users/esteb/OneDrive/Documents/Maestria/I/Programacion/Trabajos/I/Repositorio/Datos.xlsx'
datos = pd.read_excel(archivo_excel)
datos.head()

C:\Users\esteb\AppData\Local\Temp\ipykernel_17512\3062761686.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o
0,20,170,0.056,1.000000e-08,0.0038,1.436,2.975,3.963,0.601,0.00006,0.00137,1.045,2.075,2.613,0.480
1,40,160,0.111,4.000000e-08,0.0153,1.504,2.950,3.925,1.193,0.00038,0.00274,1.124,2.050,2.575,0.950
2,60,150,0.167,2.700000e-06,0.0348,1.565,2.900,3.850,1.763,0.00106,0.00387,1.178,2.025,2.538,1.411
3,80,140,0.222,1.000000e-05,0.0627,1.611,2.825,3.738,2.299,0.00340,0.00503,1.229,1.975,2.463,1.845
4,100,130,0.278,4.000000e-05,0.0990,1.646,2.725,3.588,2.790,0.00910,0.00640,1.275,1.900,2.350,2.237

Una forma que encontré para subir facilmente los datos fue nombrando las filas de la "a" a la "o" de la siguinete forma:

In [2]:
from PIL import Image
ruta_imagen = ruta_imagen = r"C:\Users\esteb\OneDrive\Documents\Maestria\I\Programacion\Trabajos\I\Repositorio\Imagen_tabla.png"
imagen_tabla = Image.open(ruta_imagen)
imagen_tabla.show()

Cuando se nombre alguna letra de la tabla en este trabajo será util ver la imagen de la tabla con la nomenclatura.